@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: black;
    --secondary: white;
    --headerAndfooter: #91BAD6;
    --darkmain: #2C6071;
    --about: #1a3e4a;
    --lightmain: #7C9AA4;
}

:is(header,footer){
    background-color: var(--headerAndfooter);
}

body{
    display: grid;
    background-color: var(--lightmain);
    grid-template-rows: auto minmax(100%,700dvh) auto;
}

.navbar .collapse a{
    transition: all .5s;
    &:hover{
        transform: scale(1.2);
        background-color: dimgray;
    }

}

img[alt="logo"]{
    width: 5rem;
    object-fit: cover;
    object-position: center;
}



/* style the home section */
#home{
    background-color: #fff;
    & .row{
        padding-top: 10rem;
    }
    & #landingText{
        font-family: "Libre Caslon Text", serif;
        padding-top: 6.5rem;
        text-align: center;
        background-color: silver;
        height: 20rem;
        font-weight: bold;
        font-size: x-large;
        & h1{
            font-weight: bolder;
            font-size: 3rem ;
        }
    }
    & img{
        margin: auto;
        
    }

}

img[alt="levi"]{
    width: 20rem;
    object-fit: cover;
    object-position: center;
}

/* Styling the about section */
#about{
    background-color: var(--darkmain);

    & .row {
        & .about{
        font-family: "Jacques Francois Shadow", serif;
        background-color: var(--about);
        padding-block: 1rem;
        text-align: center;
        font-size: x-large;
        color: var(--secondary);
        }

        & .paragraph{
            width: 80%;
            margin: auto;
            font-size: x-large;
            padding-block: 5rem;
        }
    }

}

/* Resume section  */

/* Skills section  */
.icons{
    
}
/* Styling the projects section  */
#projectCards{
    text-align: center;
    & h2{
        padding-block: 4rem;
        font-family: "Jacques Francois Shadow", serif;
        color: #fff;
    }

}

img[alt="calculator"]{
   height: 5rem;
   width: 5rem;

}
.card{
    width: 25rem;
    height: 25rem;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
    text-align: center;
    & .buttons{
        display: flex;
        justify-content: space-between;
    }
    
}

#testimonials{
    text-align: center;
    & img{
        width: 10rem;
        object-fit: cover;
        object-position: center;
    }
}

#reachme{
    background-color: var(--about);
    border-radius: 2.1rem;
    & .col{
        padding-top: 5rem;
        align-items: center;
        & .reachme{
            background-color: #fff;
            height: 5rem;
            width: 5rem;
        }
    }
}









